@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("frankruhllibre.ttf") format("truetype");
}

:root {
  font-family: "Frank Ruhl Libre", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background: linear-gradient(#0004, #0004 100%),
    fixed center / cover url("./sunrise-2.jpg");
}

body,
#root {
  @apply min-h-screen flex flex-col;
}
